<%- include('_header.html') %>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-4">
                <a href="/<%= vchera.year %>/<%= vchera.month %>/<%= vchera.day %>">
                    <%= vchera.day %>.<%= vchera.month %>.<%= vchera.year %>
                </a>
            </div>
            <div class="col-4">
                <span>
                    <%= day %>.<%= month %>.<%= year %>
                </span>
            </div>
            <div class="col-4">
                <a href="/<%= utre.year %>/<%= utre.month %>/<%= utre.day %>">
                    <%= utre.day %>.<%= utre.month %>.<%= utre.year %>
                </a>
            </div>
        </div>
    </div>
    <table class="table table-info">
        <tr>
            <th>
                час
            </th>
            <th>
                име
            </th>
        </tr>
        <% for (const key in chasove) { %>
            <tr>
                <td>
                    <%= key %>
                </td>
                <td>
                    <% if (!chasove[key].ime) { %>
                        <a class="btn btn-link" href="/zapazichas/<%= year %>/<%= month %>/<%= day %>/<%= key %>">
                            запази час
                        </a>
                        <% }else{ %>
                            <%= chasove[key].ime %>
                                <% } %>
                </td>
            </tr>
            <% } %>
    </table>
    <%- include('_footer.html') %>