<% include('_header.html') %>

<h1>Пример как се ползва списък с обекти</h1>

<h3>Списък с игри</h3>
<ul id="fruits">
  <!-- използваме for цикъл за да генерираме списък от li елементи -->
  <% for(const game of games){ %>
    <li>
      <ul>
        <li><b>име:</b> <%= game.name %></li>
        </li><b>рейтинг:</b>
          <!-- използваме for цикъл за да генерираме звезди според рейтинга на играта -->
          <% for(let i=0 ; i < game.rating; i++){ %>    <img src="/star.png">   <% } %>
        </li>
      </ul>
    </li>
  <% } %>
</ul>


<% include('_footer.html') %>
